html {
    background-color: blueviolet;
}

.links {
    background-color: black;
    color: white;
    width: 200px;
    margin: 50px;
    border: 5px solid white;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    border: 5px solid white;
}

img {
    width: 500px;
    height: auto;
}

.steps,
.ingredients {
    background-color: black;
    color: white;
    border: 5px solid white;
    padding: 30px;
    margin: 50px;
}